/* --------- UNTERNEHMEN CSS --------- */

/* Search Filter-Button */
input[type=text] {
    max-width: max-content;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    color: var(--grey);
    border-radius: 6px;
    font-size: 13px;
    background-color: white;
    background-image: url('../../images/search-lg.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

/* Alle Companies */
.all-companies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 32px;
}

#company-title {
    margin-top: 64px;
    margin-bottom: 12px;
    font-size: 2em;
}
.company {
    align-items: center;
    min-height: 100px;
    max-width: 100%;
    gap: 24px;
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    padding: 12px;
}
.company h3 {
    font-size: 14px;
    font-weight: 500;
    color: var(--grey);
}
.company h2 {
    font-size: 20px;
    color: var(--main-dark);
    margin-top: 12px;
}
.company p {
    font-size: 12px;
    color: var(--grey);
    margin-top: 6px;
}
.btn-mehranzeigenV2 {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 0 16px;
    margin-top: 32px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 13px;
    gap: 12px;
    min-height: 40px;
    max-width: 200px;
    color: var(--main-dark);
    border: 1px solid var(--border-color);
}
.btn-mehranzeigenV2 img {
    width: 14px;
    transition: transform 0.2s ease-in-out;
}
.btn-mehranzeigenV2:hover img {
    transform: rotate(-45deg);
}
@media (max-width: 1024px) {
    .all-companies {
        grid-template-columns: 1fr;
    }
    .btn-mehranzeigenV2 {
        margin-top: 24px;
    }
    .btn-mehranzeigenV2 {
        font-size: 16px;
    }
}












/* --- FILTER BUTTONS --- */
.filter-buttons {
    margin-top: 32px;
}
.filter-buttons input {
    max-width: 220px;
}
.search-btn {
    display: inline-flex;
    align-items: center;
    background-color: white;
    cursor: pointer;
    padding: 0 16px;
    margin-right: 16px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 13px;
    gap: 12px;
    min-height: 40px;
    max-width: 200px;
    color: var(--main-dark);
    border: 1px solid var(--border-color);
}
.search-btn:hover {
    background-color: var(--border-color);
}
.search-btn:active {
    border: 2px solid var(--main-dark);
}